@inject ICartService CartService
@inject IToastCloneService ToastService
@inject UserContextService UserContextService

<div class="max-w-xs rounded-lg border border-gray-200 bg-white p-4 shadow-sm hover:border-blue-500 cursor-pointer transition-colors">
    <img class="mx-auto h-32 object-contain" src="@Product.ProductImg" alt="Ảnh sản phẩm" />
    <div class="mt-4">
        <span class="text-xs text-gray-500">@Product.CategoryName</span>
        <h5 class="text-sm font-semibold tracking-tight text-gray-900">@Product.ProductName</h5>
        <span class="text-xs font-semibold text-red-500">@Product.Price.ToVnd() đ</span>
        <div class="mt-4 flex justify-between align-center">
            <Icon Name="IconName.Heart"
                  Class="pt-2 hover:text-rose-500 hover:font-semibold cursor-pointer ml-2"
                  IconStyle="IconStyle.Regular" />
            <button @onclick="AddToCart"
                    disabled="@isAdding"
                    class="bg-emerald-500 rounded-lg px-2 py-2 text-white font-semibold text-xs hover:bg-emerald-400 text-white px-4 py-2 rounded-lg transition disabled:opacity-50 disabled:cursor-not-allowed">
                @if (isAdding)
                {
                    <span>Đang thêm...</span>
                }
                else
                {
                    <span>Thêm vào giỏ</span>
                }
            </button>
        </div>
    </div>
</div>

@code {
    [Parameter] public ProductModel Product { get; set; }

    private bool isAdding = false;

    public async Task AddToCart()
    {
        if(await UserContextService.IsUserAuthenticatedAsync() == false)
        {
            ToastService.ShowToast("Vui lòng đăng nhập để thêm sản phẩm vào giỏ!", ToastLevel.Error);
            return;
        }

        if (isAdding) return; // Chặn spam
        isAdding = true;
        var cartItem = new CartItemModel
        {
            ProductId = Product.ProductId,
            Name = Product.ProductName,
            Price = Product.Price,
            ImageUrl = Product.ProductImg,
            Quantity = 1
        };
        await CartService.AddToCartAsync(cartItem);
        ToastService.ShowToast("Đã thêm sản phẩm vào giỏ!");

        isAdding = false;

        await Task.Delay(250);
    }
}